html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f1ded9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
}


header {
    color: palevioletred;
    background-color: #FFF5EE; 
    /* HEX color code */
    text-align: center;
    font-size: 3em;
    font-weight: lighter;
    letter-spacing: 7px;
    text-decoration: tan underline dotted;
    padding-top: 40px;
    /* padding shorthand- Padding:top right bottom left; */
    margin: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */

  }
nav {
    display: flex;
    justify-content: center;
   }

.bar {
    background-color: #FFF5EE;
    font-family: 'Roboto Mono', monospace;
    color: rosybrown;
    border: none; 
    font-size: 1em;
    border-radius: 30px;
    /* round corners */
    margin: 5px;
}

  .bar:hover {
    background-color: rosybrown;
    color: #FFF5EE;
    cursor: pointer;
    
    }

#arrow {
    color: palevioletred;
    background-color: #FFF5EE; 
    text-align: center;
    font-weight: lighter;
    letter-spacing: 7px;
    margin: 10px auto;
    width: 200px;
    transition: 1s;
   }

#arrow:hover {
       color: rosybrown;
       transform: rotate(180deg);
       transition: all 1s cubic-bezier(.47,1.54,.21,.8);
       cursor: default;
   }

.panel {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px; 
    width: 100%;
    max-width: 900px;
    text-align: center;
    text-transform: uppercase; 
    display: flex;
    flex-direction: column;
}

.info {
    border-bottom: 1px solid rosybrown;
}
.info:nth-of-type(2){
    border-bottom: none;
    border-right: none;
}

.icon {
    size: 50px;
    margin-bottom: 25px;
    max-width: 70%;
    height:50%;
}

.info-header {
    color: grey;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.1em;
}

/* .features {
    margin: 50px 0 25px;
    color: #f700de;
} */

.about-me {
    color: rgb(44, 64, 85);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 0.75em;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid rosybrown;
}

.about-me:last-child {
    border-top: 1px solid rosybrown;
}


@media (min-width: 900px){
    .panel {
        flex-direction: row;
    }
    .info {
        border-bottom: none;
        border-right: 1px solid rosybrown;
        padding: 25px 50px;
    }
    .info:last-child {
        border-right: none;
    }
}